<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'vietnamwarmilitaria/style.css' %}">
        <title>Vietnam War Militaria</title>
        <link rel="icon" href="{% static 'images/logo.png' %}">
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- navbar section -->
        <nav class="navbar navbar-expand-lg vwm-navbar bg-light">
            <img src="{% static 'images/logo.png' %}" class="navbar-img" width="auto" height="50">
            <a class="vwm-navbar-title" href="/">Vietnam War Militaria</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <button onclick="location.href='/'" type="button" class="vwm-button btn-lg btn-outline-dark">home</button>
                    </li>
                    <div class="dropdown">
                        <button class="btn-lg btn-outline-dark vwm-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        catalog
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for cat in categories %}
                            <a class="dropdown-item vwm-button" href="/Category/{{cat}}">{{cat}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <li class="nav-item">
                        <button type="button" class="vwm-button btn-lg btn-outline-dark">library</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="vwm-button btn-lg btn-outline-dark">links</button>
                    </li>
                    <li class="nav-item navbar-right">
                        <button type="button" class="vwm-button btn-lg btn-outline-dark">contact</button>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- body -->
        <div class="container-fluid vwm-category-container">
            <div class="row">
                <!-- display items -->
                <div class="col-xl-10 vwm-column mx-auto">
                    <hr>
                    <h2>{{category_name}}</h2>
                    <hr>
                    <div class="row">
                        {% for item in items %}
                        <div class="col-xl-5 mx-auto vwm-card">
                            <div class="container">
                                <!-- image and description -->
                                <img class="myImg" src="{{MEDIA_URL}}{{item.image}}" alt="{{item.name}}" align="left" style="width:100%;max-width:150px">
                                <div class="vwm-text">
                                    <h6>
                                        <b>Description: </b>{{item.description}}
                                    </h6>
                                </div>
                            </div>
                            <div class="container">
                                <p class="vwm-meta">Price: <em>${{item.price}}</em></p>
                                <p class="vwm-meta">Category: <em>{{item.category}}</em></p>
                                <a class="vwm-meta" href="mailto:info@vietnamwarmilitaria.com?subject=USARV security guard.">More info and availability</a>
                            </div>
                            <br>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
                <br>
            </div>
        </div>
        <!-- footer -->
        <nav class="navbar navbar-expand-lg vwm-footer">
            <a class="vwm-footer-title" href="#">© Copyright 2020 Vietnam War Militaria. All Rights Reserved</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <button type="button" class="vwm-button-inverse btn-lg  btn-outline-light">home</button>
                    </li>
                    <div class="dropup">
                        <button class="btn-lg btn-outline-light vwm-button-inverse dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        catalog
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Special Forces</a>
                        </div>
                    </div>
                    <li class="nav-item">
                        <button type="button" class="vwm-button-inverse btn-lg btn-outline-light">library</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="vwm-button-inverse btn-lg btn-outline-light">links</button>
                    </li>
                    <li class="nav-item navbar-right">
                        <button type="button" class="vwm-button-inverse btn-lg  btn-outline-light">contact</button>
                    </li>
                </ul>
            </div>
        </nav>
        <script>
            var modal = document.getElementById("myModal");
            var i;
            var img = document.getElementsByClassName("myImg");
            var modalImg = document.getElementById("img01");
            for(i=0; i < img.length; i++)
               {
                img[i].onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
             }
            }
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
               modal.style.display = "none";
            }
        </script>
    </body>
</html>
